<p id="notice"><%= notice %></p>
<button onclick="loadEvents();" class="btn btn-default">
    Events
</button >
<%= link_to 'New Event', new_event_path(:group => @group) , {:class => 'btn btn-default'} %>
<button onclick="loadMembers();" class="btn btn-default">
  Members
</button >
<button onclick="loadDiscussions();" class="btn btn-default">
  Discussions
</button >
<div id="content">
e
</div>
<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @group.lat %>
</p>

<p>
  <strong>Log:</strong>
  <%= @group.log %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @group.desc %>
</p>

<p>
  <strong>Membertitle:</strong>
  <%= @group.membertitle %>
</p>

<p>
  <strong>User:</strong>
  <%= @group.user %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>

<script>
    function loadEvents()
    {
        $.get( "/events.json",{group_id:<%= @group.id %>},function (data){
                    $("#content").html(" ");

                    for(i=0;i<data.length;i++)
                    {
                        current = $("<div>");
                        current.append("<h1>"+data[i].name+"</h1>");
                        members = $("<div>");
                        for (j=0;j<data[i].members.length;j++)
                        {
                            link = $("<a href='/users/"+data[i].members[j].id+"'></a>")
                            link.append(" <img src='"+data[i].members[j].avatar_file_name+"' with='50' height='50' > ")
                            members.append(link)
                        }
                        current.append(members)
                        current.attr("class","well")
                        $("#content").append(current)
                    }


                }
                ,"json"
        )
    }

    function loadMembers()
    {
        $.get( "/groups/<%= @group.id %>/members.json",function (data){
                    $("#content").html(" ");
                    $("#content").append("<h1>Members</h1><br>")
                    for(i=0;i<data.length;i++)
                    {

                            link = $("<a href='/users/"+data[i].id+"'></a>")
                            link.append(" <img src='"+data[i].avatar_file_name+"' with='50' height='50' > ")
                            link2 = $("<a href='/users/"+data[i].id+"'></a>")
                            link2.append("<h2>"+data[i].username+"</h2><br>")
                        current = $("<div>");
                        current.append(link)
                        current.append(link2)
                        current.attr("class","well")

                        $("#content").append(current)

                    }


                }
                ,"json"
        )
    }


    function loadDiscussions()
    {
        $.get( "/groupmessages.json",{group_id:<%= @group.id %>},function (data){
                    $("#content").html(" ");

                    for(i=0;i<data.length;i++)
                    {   current = $("<div>");
                        current.attr("id","discussion-"+data[i].id)
                        current.attr("class","well")
                        link = $("<a href='"+data[i].url+"'></a>")

                        link.append("<h1>"+data[i].title+"</h1>");
                        current.append(link);

                        link2 = $("<a href='"+data[i].userurl+"'></a>")
                        link2.append(" <img src='"+data[i].userimage+"' with='50' height='50' > ")
                        current.append(link2);
                        current.append("<hr>")
                        current.append("<p>"+data[i].body+"</p>");



                        $("#content").append(current)
                    }


                }
                ,"json"
        )
    }
</script>
