<%= form_for(@user , :url=> users_updateprofile_path)  do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="field">
      <%= f.label :age %><br>
      <%= f.number_field :age %>
    </div>
    <div class="field">
      <%= f.label :bio %><br>
      <%= f.text_area :bio %>
    </div>
    <div class="field">
      <%= f.label :latitude %><br>
      <%= f.text_field :latitude %>
    </div>
    <div class="field">
      <%= f.label :longitude %><br>
      <%= f.text_field :longitude %>
    </div>
    <div class="field">
      <%= f.hidden_field :interest_id, :value => @user.id %>
    </div>
    <div class="field">
      <%= f.label :interest %><br>
      <%= f.text_field :interest %>
    </div>
    <div class="field">
      <%= f.file_field :avatar %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
<script>
  document.getElementById("user_interest").value = "<%= @a.join(",")  %>"
</script>