<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Interest:</strong>
  <% @a.each do |p| %>
      <%= p %>
  <% end %>
</p>
<p>
  <%= image_tag @user.avatar.url %>
</p>

