<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Hashedpassword:</strong>
  <%= @user.hashedpassword %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Isconfirm:</strong>
  <%= @user.isconfirm %>
</p>

<p>
  <strong>Usertype:</strong>
  <%= @user.usertype %>
</p>

<p>
  <strong>Interest:</strong>
   <% @a.each do |p| %>
  <%= p %>
<% end %>
</p>
<p>
  <%= image_tag @user.avatar.url %>
</p>




<%= form_for(@usermessage , :url=> usermessages_create_path) do |f| %>
    <% if @usermessage.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@usermessage.errors.count, "error") %> prohibited this user from sending message:</h2>

          <ul>
            <% @usermessage.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title, :placeholder => "Title" %>
    </div>

    <div class="field">
      <%= f.label :body %><br>
      <%= f.text_area :body, :placeholder => "Message" %>
    </div>

    <div class="field">
      <%= f.hidden_field :receiver, :value => @user.id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>




<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
