<p id="notice"><%= notice %></p>

<h1>Listing Groupreplies</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>User</th>
      <th>Groupmessage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groupreplies.each do |groupreply| %>
      <tr>
        <td><%= groupreply.body %></td>
        <td><%= groupreply.user %></td>
        <td><%= groupreply.groupmessage %></td>
        <td><%= link_to 'Show', groupreply %></td>
        <td><%= link_to 'Edit', edit_groupreply_path(groupreply) %></td>
        <td><%= link_to 'Destroy', groupreply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Groupreply', new_groupreply_path %>
