<%= form_for(@groupmessage) do |f| %>
  <% if @groupmessage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@groupmessage.errors.count, "error") %> prohibited this groupmessage from being saved:</h2>

      <ul>
      <% @groupmessage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>


  <input type="hidden" name="groupmessage[user_id]" value="<%= session[:user_id] %>">

  <input type="hidden" name="groupmessage[group_id]" value="<%= @gid %>">


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
